<?xml version="1.0"?>

<config>
    <modules>
        <Wsu_Xreports>
            <version>0.1.0</version>
        </Wsu_Xreports>
    </modules>    
    <admin>
        <routers>
            <xreports>
                <use>admin</use>
                <args>
                    <module>Wsu_Xreports</module>
                    <frontName>xreports</frontName>
                </args>
            </xreports>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <xreports>
                    <file>xreports.xml</file>
                </xreports>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <xreports>
                <class>Wsu_Xreports_Model</class>
                <resourceModel>xreports_mysql4</resourceModel>
            </xreports>
            <xreports_mysql4>
                <class>Wsu_Xreports_Model_Mysql4</class>
                <entities>
                    <salesbycountry>
                        <table>sales_flat_order</table>
                    </salesbycountry>
                    <salesbycustomergroup>
                        <table>sales_flat_order</table>
                    </salesbycustomergroup>		    
                    <salesbycouponcode>
                        <table>sales_flat_order</table>
                    </salesbycouponcode>
                    <salesbyproduct>
                        <table>sales_flat_order_item</table>
                    </salesbyproduct>
                    <salesbyhour>
                        <table>xreports_hour</table>
                    </salesbyhour>
                    <salesbydayofweek>
                        <table>xreports_dayofweek</table>
                    </salesbydayofweek>
                    <salesbynewandreturning>
                        <table>xreports_newandreturning</table>
                    </salesbynewandreturning>
                </entities>
            </xreports_mysql4>
        </models>
        <resources>
            <xreports_setup>
                <setup>
                    <module>Wsu_Xreports</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xreports_setup>
            <xreports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xreports_write>
            <xreports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xreports_read>
        </resources>
        <blocks>
            <xreports>
                <class>Wsu_Xreports_Block</class>
            </xreports>
        </blocks>
        <helpers>
            <xreports>
                <class>Wsu_Xreports_Helper</class>
            </xreports>
        </helpers>
    </global>
    <default>
        <xreports>
            <general>
                <active>1</active>
                <enable_google_charts>1</enable_google_charts>
            </general>
        </xreports>
    </default>
</config>